//chord
 /* // Add an elaborate mouseover title for each chod.
    chord.append("title").text(function(d) {
      return peoples[d.source.index].name
          + " → " + peoples[d.target.index].name
          + ": " + formatPercent(d.source.value)
          + "\n" + peoples[d.target.index].name
          + " → " + peoples[d.source.index].name
          + ": " + formatPercent(d.target.value);
    });
*/

<aside>Hover over each color or line to see who the sender was. 

<p>The thickness of the line represents the weighted centrality score, according to the Evcent algorithm in the social network analysis package of R. 

<p>Links are directed

<p>CC's are weighted

<p>Built with <a href="http://d3js.org/">d3.js</a>.

<p> Made with boba tea and donuts